<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<title>APOD</title>
</head>
<body>

	<h1>Astronomy Picture of The Day</h1>
	<img src="<%=ImageUrl%>">
	<p> <%= explanation %> </p>
	<h4>Developed by <a href="https://github.com/AyushKishor">Ayush Kishor</a></h4>
</body>
</html>